vivado_pid*.str
hs_err_pid*
rfd_us_nlv_ADC.log
rfd_us_nlv_DAC.log
platform/ZCU*/vitis_pid*
platform/ZCU*/.Xil
platform/ZCU*/vv
platform/ZCU*/ws/*
platform/ZCU*/logs
platform/ZCU*/*.tmp
platform/ZCU*/app_src
platform/ZCU*/*_project
platform/ZCU*/webtalk.*
platform/ZCU*/hardware/sim/libraries
platform/ZCU*/hardware/sim/work
platform/ZCU*/hardware/sim/xil_defaultlib
platform/ZCU*/hardware/sim/modelsim.ini
platform/ZCU*/hardware/sim/*.wlf
rtl/tb/obj_dir
rtl/tb/*.vcd
rtl/tb/*.csv
rtl/tb/*.pyc
rtl/tb/__pycache__
rtl/tb/env
rtl/srom/lenet/.Xil
data/saved_models/lightning_alexnet_data
data/saved_bitstreams/
data/saved_results/ila/*.csv
*.gen
*.vcd
*.log
*.jou
.Xil/
